<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Real Estate Market API!</h1>
      <p>
        Welcome to the Real Estate Market API! Our API provides developers with
        seamless access to a wealth of real estate data, empowering you to build
        innovative applications in the ever-expanding real estate industry.
        Whether you're creating property search platforms, investment analysis
        tools, or even virtual property tours, our API has you covered. To get
        started with the API, simply head over to our GitHub Page, where you'll
        find comprehensive documentation and guides. In order to interact with
        the API, you'll need an API testing tool like
        <a href="https://insomnia.rest/download">Insomnia</a> or
        <a href="https://www.postman.com/downloads">Postman</a>. These tools
        allow you to send requests and interact with the endpoints easily. Our
        API documentation provides detailed information on endpoints,
        authentication, request/response formats, and more. It will help you
        integrate our services quickly and efficiently into your projects.
        Unlock the potential of real estate data and take your applications to
        new heights with the Real Estate Market API. Visit our
        <a href="https://github.com/usmancmd/real-estate-market-backend-api"
          >Github Page</a
        >
        now to get started with our API documentation and begin building your
        real estate applications!
      </p>
    </div>
  </body>
</html>
